/* Serhio */
@font-face {
    font-family: "BeVietnamPro";
    src: url(../font/BeVietnamPro-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Outfit";
    src: url(../font/Outfit-Regular.ttf);
    font-weight: 400;
}

*{
    font-family: BeVietnamPro;
}


/* Dimon */






/* DimaSosiska */




/* Oleksei */
.LemonTemplate{
    text-align: center;
    margin-bottom: 5%;
}
.LemonTemplate>p{
    font-family: Outfit;
    font-size: 0.8vw;
    font-weight: 400;
}
.LemonTemplate>h2{
    font-family: Outfit;
    font-weight: 400;
    font-size: 2vw;
}
.img1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
.img2{
    display: flex;
    justify-content: center;
    margin-bottom: 17%;
}


@media(max-width: 768px){
    .img1{
        display: inline;
        margin-left: 17%;
    }
    .img2{
        margin-left: 5%;
    }
}












/* NONNNNNNNOCHKA */







/* Aleksey2 */